@import '@/common/styles/common.scss';

.text{
    padding: 0;
    margin: 0;
    font-size: $font_size_medium;

    &.secondary{
        color: $color_text_secondary;
    }

    &.italic{
        font-style: italic;
    }

    &.strong{
        font-weight: 600;
    }
}