@import '@/common/styles/common.scss';

.dropdown{
    display: flex;
    position: relative;
    width:fit-content;
    cursor: pointer;

    .icon{
        width: 20px;
        height: 20px;

        img,
        svg{
            width: 100%;
            height: 100%;
        }
    }

    @keyframes slideDown {
        from{
            top: 50%;
            opacity: 0;

        } to {
            top: 100%;
            opacity: 1;
        }
    }

    @keyframes slideUp {
        from{
            bottom: 50%;
            opacity: 0;

        } to {
            bottom: 100%;
            opacity: 1;
        }
    }



    .menu{
        display: none;
        padding: 4px 0;
        position: absolute;
        flex-direction: column;
        background-color: $color_basic_white;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        min-width: 100%;
        width: max-content;
        z-index: 10;
        border-radius: 4px;

        &.top{
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
         
        &.bottom{
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        &.top-left{
            bottom: 100%;
            left: 0;
        }

        &.bottom-left{
            top: 100%;
            left: 0;
        }

        &.top-right{
            bottom: 100%;
            right: 0;
        }

        &.bottom-right{
            top: 100%;
            right: 0;
        }

        .item{
            padding: 12px;
            margin: 0 4px;
            cursor: pointer;
            transition: all 0.2s ease;
            border-radius: 4px;

            &:hover{
                background-color: $color_grey_hover;

            }

            &.disable{
                filter: opacity(0.5);
                pointer-events: none;
                
                &:hover{
                    background-color: $color_basic_white;
                }
            }
        }


        &.active{
            display: flex;
            animation-duration: 0.2s;

            &.top,
            &.top-left,
            &.top-right{
                animation-name: slideUp;
            }
            
            &.bottom,
            &.bottom-left,
            &.bottom-right{
                animation-name: slideDown;
            }
        }
    }
}