@import '@/common/styles/common.scss';

.breadcrumb{
    display: flex;

    .item{
        display: flex;
        a{
            text-decoration: none;
            color: $color_text_secondary;
            transition: all 0.2s ease;
            padding: 0 4px;
            border-radius: 4px;

            &:hover{
                color: $color_primary
            }
        }

        span{
            color: $color_text_secondary;
            padding: 0 4px;
        }

        .separator{
            margin: 0 4px;
            color: $color_text_secondary;
        }
    }
}