@import '@/common/styles/common.scss';


.examplePage{
    padding: 15px 15px 500px 15px;

    .buttonExample{
        margin-bottom: 16px;
    }


    .exampleContainer{
        margin: 16px 0;
        border: 1px solid $color_basic_lightgrey;

        .title{
            background-color: $color_basic_lightgrey;
            padding: 16px;
            border-bottom: 1px solid $color_basic_lightgrey;
        }

        .exampleRow{
            padding: 16px;
            display: flex;
            gap: 16px;
            align-items: center;
        }

        .exampleCol{
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}