@import '@/common/styles/common.scss';

.divider{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;

    &::before{
        flex: 1;
        display: block;
        content: '';
        max-width: 100%;
        height: 1px;
        background: $color_basic_lightgrey;
    }
    
    &::after{
        flex: 1;
        display: block;
        content: '';
        max-width: 100%;
        height: 1px;
        background: $color_basic_lightgrey;
    }

    &.start{
        &::before{
            display: none;
        }
    }

    &.end{
        &::after{
            display: none;
        }
    }
}